body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: "Changa", sans-serif;
}

.title-section {
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.welcome-title {
    font-size: 55px;
    margin: 0;
    padding: 0;
}

.sub-title {
    font-size: 20px;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.rps-option {
    font-size: 8rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 100ms;
    /* margin: 0 2%; */
    padding: 0 5%;
    border-radius: 8px;

}

.rps-option:hover {
    transform: scale(1.2);
}

.rps-option:active {
    transform: scale(0.98);
}

.game-results {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
    
}

.round-choices {
    display: flex;
    justify-content: center;
    min-width: 550px;
    margin: 30px;
    border: 2px solid lightgrey;
    border-radius: 8px;
    color: #404040;
}

.single-round-choice {
    margin: 20px;
    padding: 20px;
    font-size: 40px;
}

.show-choice-span {
    font-size: 35px;
    color: #595959;
}

.space-to-remove {
    margin: 0;
}

.live-counters {
    margin: 30px 10px; 
    padding: 30px;
    font-size: 40px;
    color: #404040;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    border: 2px solid lightgrey;
    border-radius: 8px;
}

#round-number,
#rounds-left,
#player-score,
#computer-score {
    color: #595959;
    font-size: 35px;
}

.round-progress-counters {

    /* border: 2px solid green; */
}

.scores {
    /* border: 2px solid blue; */
}