body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: "Changa", sans-serif;
}

.title-section {
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.welcome-title {
    font-size: 55px;
    margin: 0;
    padding: 0;
}

.sub-title {
    font-size: 20px;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.rps-option {
    font-size: 8rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 100ms;
    /* margin: 0 2%; */
    padding: 0 5%;
    border-radius: 8px;

}

.rps-option:hover {
    transform: scale(1.2);
}

.rps-option:active {
    transform: scale(0.98);
}

.game-results {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
    
}

.round-choices {
    display: flex;
    justify-content: center;
    min-width: 550px;
    margin: 30px;
    border: 2px solid lightgrey;
    border-radius: 8px;
    color: #404040;
}

.single-round-choice {
    margin: 20px;
    padding: 20px;
    font-size: 40px;
}

.show-choice-span {
    font-size: 35px;
    color: #595959;
}

.space-to-remove {
    margin: 0;
}

.live-counters {
    margin: 30px 10px; 
    padding: 30px;
    font-size: 40px;
    color: #404040;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    border: 2px solid lightgrey;
    border-radius: 8px;
}

#round-number,
#rounds-left,
#player-score,
#computer-score {
    color: #595959;
    font-size: 35px;
}


/* modal styling */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 40rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.play-again {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 10rem;
    height: 2.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #3385ff;
    color: #ffffff;
}

.play-again:hover {
    background-color: #0066ff;
}

